.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

body{
  background-color: pink;
  background-image:url(R\ \(3\).jpg);
}

nav{
  background-color: beige;
}
